<launch>
    <!-- Task Preparation -->
    <arg name="option" default="--percategory 4 --obstacles 2 --perrow 4 --seed 1"/>
    <arg name="task" default="task"/>
    <arg name="prep" default="true"/>
    <node pkg="hma_hsr_sim_pkg" type="task_preparation_node.py" name="task_preparation_node" output="screen" if="$(arg prep)">
        <param name="/option" type="str" value="$(arg option)"/>
        <param name="/task" type="str" value="$(arg task)"/>
    </node>
</launch>
